@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


body {
background-color: #000012;
}

::-webkit-scrollbar{
  display: none;
}

@layer components {
  .animate-type {
    animation: type 3s steps(10) 1 forwards;
  }

  .animate-cursor {
    animation: cursor 1s infinite;
  }
}

@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 17ch;
  }
}

@keyframes cursor {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
